fastapi
uvicorn[standard]
requests
pandas
numpy
matplotlib
Pillow
contourpy
cycler
fonttools
kiwisolver
pyparsing
packaging
bcrypt
PyJWT
cryptography
feedparser
beautifulsoup4
lxml
websockets
python-multipart
aiofiles
python-telegram-bot
